   ** Theory questions**


1. What are data structures, and why are they important?

 """ Data structures are fundamental to computer science, acting as ways to organize and store data efficiently so it can be easily accessed, processed, and retrieved"""
2. Explain the difference between mutable and immutable data types with examples.

 - Mutable data types are those that can be modified after their creation,  while  while immutable data types cannot be changed once they are created.
3. What are the main differences between lists and tuples in Python?

 - Tuples are immutable objects and lists are mutable objects.
4. Describe how dictionaries store data

 - Dictionaries are used to store data values in key:value pairs.
5. Why might you use a set instead of a list in Python?

 - we use set instead of list beacause hey are highly optimized for membership tests.
6. What is a string in Python, and how is it different from a list?

 - In Python, a string is an immutable sequence of characters enclosed in single or double quotes, while a list is a mutable, ordered sequence of items enclosed in square brackets.
7. How do tuples ensure data integrity in Python?

 - Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic is crucial in several ways.
8. What is a hash table, and how does it relate to dictionaries in Python?

 -A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index for each key, which is then used to store and retrieve the corresponding value in an underlying array. This allows for efficient access to data, with an average time complexity of O(1) for insertion, deletion, and lookup operations.
9. Can lists contain different data types in Python?

 - Yes, lists in Python can contain elements of different data types.
10. Explain why strings are immutable in Python?

 -Since immutable objects cannot change their value, Python can optimize memory usage.
11. What advantages do dictionaries offer over lists for certain tasks?

 - Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.
12.  Describe a scenario where using a tuple would be preferable over a list.

 - tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently.
13. How do sets handle duplicate values in Python?

 -sets are designed to store only unique elements. When you attempt to add a duplicate value to a set, it does not raise an error, but the duplicate value is simply ignored, and the set remains unchanged.
14. How does the “in” keyword work differently for lists and dictionaries?

 - the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.
15. Can you modify the elements of a tuple? Explain why or why not?

 - No, you cannot directly modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed. If you try to modify a tuple, it will throw a TypeError.
16. What is a nested dictionary, and give an example of its use case?

 - nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows you to create hierarchical data structures, similar to organizing information in a file system or an organizational chart.

            Example -Imagine you want to store information about employees in a company, organized by department. You could use a nested dictionary to represent this data.
17. Describe the time complexity of accessing elements in a dictionary.

 - Accessing an element in a dictionary using a key generally has an average time complexity of O(1), meaning it's constant time. However, in the worst-case scenario, it can degrade to O(n), where n is the number of key-value pairs in the dictionary. This worst-case scenario is less common and typically occurs when there are numerous collisions in the hash table, making the access more like a linear search.
18. In what situations are lists preferred over dictionaries?

 - or quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.
19. Why are dictionaries considered unordered, and how does that affect data retrieval.

 -  dictionaries are unordered collection: Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.
20. Explain the difference between a list and a dictionary in terms of data retrieval.

 - Dictionaries use keys for access, allowing for near-instant retrieval, while lists rely on indexing, requiring a search through elements.

***PRACTICAL QUESTIONS***

In [1]:
# 1. Write a code to create a string with your name and print it

my_name = "Aditya gour"  # Replace with your actual name
my_name

'Aditya gour'

In [3]:
# 2. Write a code to find the length of the string "Hello World"

string_name = "Hello World"
print(len(string_name))

11

In [4]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming"
my_string = "Python Programming"
sliced_string = my_string[:3]
sliced_string

'Pyt'

In [6]:
# 4. Write a code to convert the string "hello" to uppercase

string_name = "hello"
print(string_name.upper())

HELLO

In [7]:
# 5. write a code to replace the word "apple" with "orange" in the string "I like apple"

original_string = "I like apple"
new_string = original_string.replace("apple", "orange")
new_string

'I like orange'

In [8]:
# 6: Write a code to create a list with numbers 1 to 5 and print it

my_list = list(range(1, 6))
my_list

[1, 2, 3, 4, 5]

In [9]:
# 7: P Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1, 2, 3, 4]
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

In [10]:
# 8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

In [11]:
# 9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
second_element

'b'

In [12]:
# 10: Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
my_list

[50, 40, 30, 20, 10]

In [13]:
# 11: Write a code to create a tuple with the elements 100, 200, 300 and print it

my_tuple = (100, 200, 300)
my_tuple

(100, 200, 300)

In [14]:
# 12:  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
second_to_last_element

'blue'

In [15]:
# 13: . Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
minimum_number

5

In [16]:
# 14:  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
index_of_cat

1

In [17]:
# 15:  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [18]:
# 16:  Write a code to create a set with the elements 'a', 'b', 'c' and print it

# 16: Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
my_set

{'a', 'b', 'c'}

In [19]:
# 17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}

my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [21]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
my_set

{1, 2, 3}

In [20]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

In [23]:
# 20: . Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
intersection_set

{2, 3}

In [24]:
# 21:  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict = {"name": "Aditya gour", "age": 22, "city": "bareilly"}
my_dict

{'name': 'Aditya gour', 'age': 22, 'city': 'bareilly'}

In [25]:
# 22 :  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
my_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [34]:
# 23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
name_value

'Alice'

In [33]:
# 24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
my_dict

{'name': 'Bob', 'city': 'New York'}

In [32]:
# 25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

In [31]:
# 26:  Write a code to create a list, a tuple, and a dictionary, and print them all

# Write a code to create a list, a tuple, and a dictionary, and print them all

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}

print(my_list)
print(my_tuple)
my_dict

[1, 2, 3]
(4, 5, 6)

{'a': 7, 'b': 8}

In [30]:
# 27:  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
random_numbers

[8, 33, 37, 66, 98]

In [29]:
# 28: Write a code to create a list with strings and print the element at the third index

my_list_of_strings = ["apple", "banana", "cherry", "date", "elderberry"]
my_list_of_strings[3]

'date'

In [28]:
# 29:  Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
combined_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [26]:
# 30:  Write a code to convert a list of strings into a set

list_of_strings = ["apple", "banana", "cherry"]
set_from_list = set(list_of_strings)
set_from_list

{'apple', 'banana', 'cherry'}

**the end**